* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    align-content: center;
    display: block;
}

#title_Box {
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    border: 2px solid #886dff;
    background-color: aqua;
    font-family: tahoma;
    color: aliceblue;
    border-radius: 20px;
}

#list {
    display: inline;
    padding: 20px;
}

#nav_Div {
    width: 100%;
    margin-top: 20px;
    background-color: chartreuse;
    padding-bottom: 10px;
    padding-top: 10px;
    flex: auto;
    border-radius: 20px;
	border-bottom:none;
}

h3 , h5 {
    font-family: Helvetica;
}

#fir {
    background-color: bisque;
    border: 1px solid #ff0000;
    border-radius: 20px;
}

#sec {
    margin-top: 10px;
    background-color: bisque;
    border: 1px solid #ff0000;
    border-radius: 20px;
}

#theSection {
    border: 2px solid #d3ff5b;
    margin-top: 30px;
    margin-left: 50px;
    padding: 20px;
    float: left;
    width: 500px;
    border-radius: 20px;
}
#hg {
    margin: 5px;
}

p {
    font-family: Verdana;
}

#par{
    margin-bottom: 5px;
}

#theNews {
    margin-top: 30px;
    margin-right: 100px;
    border: 2px dotted #1dff00;
    float: right;
    width: 400px;
    height: 300px;
    border-radius: 20px;    
}

#news {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#theNewsDiv {
    border-bottom: 2px dotted #1dff00;
}

#theFoot {
    clear: both;
}
#theFooterDiv {
    border: 2px solid #00f2ff;
    background-color: chartreuse;
    clear: both;
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 54px;
    border-left: none;
    border-right: none;
    border-radius: 20px;
}

#lab {
    position: absolute;
    left: 20px;
    top: 89%;
}
#tlb {
    //border-top: 2px solid #1dff00;
    //border-right: 2px solid #1dff00;
    background-color: fuchsia;
    border-radius: 20px;
}

    